<h1>Olá, mundo!</h1>
<hr>
<h3>Veja a Lista de Categorias</h3>
<a href="/admin/categories" class="btn btn-primary">Categorias</a>
<hr>
<h3>Veja a Lista de Postagens</h3>
<a href="/admin/posts" class="btn btn-primary">Postagens</a>